[Unit]
Description=dnspreload v2: full preload (merged-final)
After=network-online.target unbound.service

[Service]
NoNewPrivileges=no
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
ReadWritePaths=/opt/dnspreload-v2/lists /opt/dnspreload-v2/state /opt/dnspreload-v2/logs
Type=oneshot
User=dnspreload
WorkingDirectory=/opt/dnspreload-v2
ExecStart=/opt/dnspreload-v2/dnspreload preload full
Nice=10
